$text-color: #DAD7CD;
$accent-color: #A3B18A;
$secondary-color: #588157;
$primary-color: #3A5A40;
$background-color: #344E41;

html {
    background-color: $background-color;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    font-size: calc(15px + 0.390625dvw);
}

a {
    text-decoration: none;
    color: $text-color;
}