@use "../../App.scss";

.restauraunt-container {
    background-color: App.$accent-color;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;

    .rest-info-container {
        a {
            text-decoration: none;
            color: black;
        }
    }
}