@use "../../App.scss";

.restauraunt-container {
    background-color: App.$accent-color;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;

    .rest-ratings-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            margin: 0;
        }

        h4 {
            margin: 0;
            text-align: center;
        }
    }

    .rest-info-container {
        a {
            text-decoration: none;
            color: black;
        }
    }
}