@use "../../App.scss";

header {
    display: flex;
    align-items: center;
    background-color: App.$primary-color;
    border-bottom: .1rem solid App.$text-color;
    height: 10dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    left: 0;
    color: App.$text-color;

    h2 {
        padding: 0 1rem;
    }
}