@use "../../App.scss";

#search-page {
    margin: 10dvh 0;
    height: 80dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #search-container {
        padding: 0 3rem;
        padding-top: 3em;
        padding-bottom: 1.5em;
        width: 50dvw;
        background-color: App.$secondary-color;
        color: App.$text-color;
    
        form {
            display: flex;
            flex-direction: column;
            gap: .3rem;
    
            input {
                background-color: App.$accent-color;
                border: 0;
            }

            button {
                background: none;
                border: none;
                align-self: flex-end;
                padding-top: 1.5em;
                color: App.$text-color;

                svg {
                    height: 3em;
                }
            }
        }
    }
}